/* 容器样式 */
.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: auto;
}

.todo-item:hover {
  background-color: rgba(186, 224, 224, 0.7);
  transform: translateY(-5px);
}

/* 待办事项文本框 */
.todo-text {
  border: solid 2px #7aabbd;
  width: 350px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  color: #0d1364;
  background-color: #e1e1e1;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.todo-text:focus {
  border-color: #7aabbd;
  background-color: #f4f9fc;
  outline: none;
}

.todo-text.done {
  text-decoration: line-through;
  color: #aaa;
  background-color: #f7f7f7;
}


/* 删除按钮样式 */
.delete-btn {
  padding: 8px 16px;
  background-color: #ff1f6e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
